<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">

</head>
<body>
<!--<div class="wrapper">-->
<!-- Navigation -->
<header>
    <nav th:replace="~{fragments/navbar}" class="main-nav">

    </nav>
</header>

<!-- Top Container -->
<div class="row justify-content-center ">
    <form id="add-route-form" class="w-50 rounded text-white mt-5"
          th:action="@{/routes/add}"
          th:method="POST"
          th:object="${routeDto}"
          enctype="multipart/form-data">
        <h3 class="border-left border-light pl-2">Add a new route</h3>

        <div>
            <div class="form-group">
                <label for="inputName" class="col-form-label">Name</label>
            </div>
            <div class="form-group">
                <input name="name" type="text" id="inputName" class="form-control"
                       aria-describedby="inputNameError" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" th:field="*{name}">
                <ul th:if="${#fields.hasErrors('name')}">
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                </ul>
                
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputDescription" class="col-form-label">Description</label>
            </div>
            <div class="form-group">
                <textarea name="description" id="inputDescription" class="form-control"
                          aria-describedby="inputDescriptionError" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" th:field="*{description}"></textarea>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputGpx" class="col-form-label">GPX Coordinates</label>
            </div>
            <div class="form-group">
                <input type="file" name="gpxCoordinates"  id="inputGpx" class="form-control-file"
                       aria-describedby="inputGpxError" accept=".txt" th:classappend="${#fields.hasErrors('gpxCoordinates')} ? 'is-invalid'" th:field="*{gpxCoordinates}">
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('gpxCoordinates')}" th:errors="*{gpxCoordinates}"></p>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="level">Level</label>
                <select id="level" name="level" class="custom-select" th:classappend="${#fields.hasErrors('level')} ? 'is-invalid'" th:field="*{level}">
                    <option value="" selected disabled>Select level</option>
                    <option th:each="level : ${T(org.softuni.pathfinder.domain.entities.enums.Level).values()}"
                            th:value="${level}"
                            th:text="${level}">
                    </option>
                </select>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></p>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="videoUrl">Video Url (only last eleven characters from Youtube)</label>
                <input  name="videoUrl" id="videoUrl"   type="text" class="form-control" placeholder="Video url" th:classappend="${#fields.hasErrors('videoUrl')} ? 'is-invalid'" th:field="*{videoUrl}">
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('videoUrl')}" th:errors="*{videoUrl}"></p>
            </div>
        </div>


        <!-- Categories -->
        <div>
            <div class="form-group p-3">
                <label class="p-2" for="categories">Categories:</label>
                <input th:each="category: ${T(org.softuni.pathfinder.domain.entities.enums.CategoryName).values()}" class="m-3"
                       th:field="*{categories}"
                       type="checkbox" name="categories" id="categories"
                       th:text="${#strings.toLowerCase(category)}"
                       th:value="${category}">
                <br>
            </div>
            <!-- Adjusted error message styling -->
            <p class="errors alert alert-danger" th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"></p>
        </div>

        <!-- Photos Input -->
        <div class="form-group">
            <label for="images" class="col-form-label text-white">Upload Images : </label>
            <input type="file" name="images"  id="images" accept="image/jpeg, image/jpg" class="form-control-file" aria-describedby="inputPhotosError" multiple>
            <p class="errors alert alert-danger" th:if="${#fields.hasErrors('images')}" th:errors="*{images}"></p>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">Add Route</button>
        </div>


    </form>
</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
