<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">
        <div class="row g-3 align-items-center">

            <form th:action="@{/users/login}" th:method="POST" >
                <!-- Display success message -->
                <div th:if="${successMessage}" class="alert alert-success" role="alert">
                    <p th:text="${successMessage}"></p>
                </div>

                <!-- Display success message -->
                <div th:if="${badRequest}" class="alert alert-danger" role="alert">
                    <p th:text="${badRequest}"></p>
                </div>

                <!-- Username -->
                <div class="col-auto">
                    <label for="username" class="col-form-label">Username</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="username" id="username" class="form-control"  th:value="${username}">

                </div>
                <!-- Password -->
                <div class="col-auto mt-3">
                    <label for="password" class="col-form-label">Password</label>
                </div>
                <div class="col-auto mt-3">
                    <input type="password" name="password" id="password" class="form-control" >
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>
                </div>
                <div class="form-group">
                    <label for="rememberme" class="text-white font-weight-bold">Remember me</label>
                    <input  id="rememberme"
                            name="rememberme"
                            type="checkbox"
                            class="form-control"/>

                </div>
            </form>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
