<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">

</head>

<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Register</h1>
    <div class="d-flex justify-content-center">
        <div class="row g-3">
            <form action="/users/register" method="post" th:object="${userRegisterDto}">
                <!-- Username -->
                <div class="col-auto">
                    <label for="inputUsername" class="col-form-label">Username</label>
                    <input name="username" type="text" id="inputUsername" class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" th:field="*{username}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:each="err : ${#fields.errors('username')}" th:text="${err}"></div>
                </div>

                <!-- Email -->
                <div class="col-auto">
                    <label for="inputEmail" class="col-form-label">Email</label>
                    <input name="email" type="email" id="inputEmail" class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" th:field="*{email}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                </div>
                <!-- Full Name -->
                <div class="col-auto">
                    <label for="inputFullName" class="col-form-label">Full Name</label>
                    <input name="fullName" type="text" id="inputFullName" class="form-control" th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid'" th:field="*{fullName}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}" th:each="err : ${#fields.errors('fullName')}" th:text="${err}"></div>
                </div>
                <!-- Age -->
                <div class="col-auto">
                    <label for="inputAge" class="col-form-label">Age</label>
                    <input name="age" type="number" id="inputAge" class="form-control" th:classappend="${#fields.hasErrors('age')} ? 'is-invalid'" th:field="*{age}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('age')}" th:each="err : ${#fields.errors('age')}" th:text="${err}"></div>
                </div>

                <!-- Password -->
                <div class="col-auto">
                    <label for="inputPassword" class="col-form-label">Password</label>
                    <input name="password" type="password" id="inputPassword" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" th:field="*{password}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
                </div>

                <!-- Confirm Password -->
                <div class="col-auto">
                    <label for="inputConfirmPassword" class="col-form-label">Confirm Password</label>
                    <input name="confirmPassword" type="password" id="inputConfirmPassword" class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'" th:field="*{confirmPassword}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
                </div>


                <div class="d-flex justify-content-center mt-4">
                    <!-- Registration Button -->
                    <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                </div>

                <!-- Custom validation errors after form submission -->
                <div class="invalid-feedback" th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
                </div>
            </form>
        </div>
    </div>
</main>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Hristo Baldzhiyski Pathfinder Project 2024. All rights reserved.
        </div>
    </div>
</footer>



</body>


</html>
