<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header>
        <nav th:replace="~{fragments/navbar}" class="main-nav"></nav>
    </header>

    <!-- Section for Routes -->
    <section class="road">
        <div th:each="routeDto, iterStat : ${routeWithRandomPics}" class="card">
            <img th:src="@{${routeDto.randomImageUrl}}" alt="Title image" class="card-img-top">
            <div class="card-body">
                <h5 th:text="${routeDto.name}" class="card-title"></h5>
                <p th:text="${routeDto.description}" class="card-text"></p>
                <a th:href="@{/routes/details/{id}(id=${routeDto.id})}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
