<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header>
        <nav th:replace="~{fragments/navbar}" class="main-nav"></nav>
    </header>

    <!-- Section for Routes -->
    <section class="road">
        <div th:each="route, iterStat : ${routes}" class="card">
            <img th:src="@{${route.imageUrl}}" alt="Title image" class="card-img-top">
            <div class="card-body">
                <h5 th:text="${route.name}" class="card-title"></h5>
                <p th:text="${route.description}" class="card-text"></p>
                <a th:href="@{/route/details/{id}(id=${route.id})}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Hristo Baldzhiyski Pathfinder Project 2024. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
