<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}">
    <style>
        .separator {
            border-bottom: 1px solid white;
            margin-bottom: 20px; /* Adjust as needed */
        }

        .comment-container:last-child .separator {
            display: none; /* Hide the separator after the last comment */
        }
    </style>
</head>

<body>
<div class="wrapper">
    <header>
        <nav th:replace="~{fragments/navbar}" class="main-nav"></nav>
    </header>

    <!-- Input for Route ID -->
    <input type="hidden" name="routeId" id="routeId" th:value="${route.id}">

    <!-- Details Section -->
    <div class="details-main">

        <section class="route-info text-center" style="display: flex; flex-direction: column; align-items: center;">
            <h4 th:text="${route.name}" id="track-name"></h4>
            <p style="font-size: 18px; font-weight: bold;">Total distance: <span id="totalDistance"
                                                                                 style="font-weight: normal"></span> km
            </p>
            <p style="font-size: 18px; font-weight: bold;">Author name: <span th:text="${route.author.fullName}"
                                                                              style="font-weight: normal"
                                                                              id="authorName"></span></p>
            <div style="margin-top: 20px;">
                <span style="font-size: 18px; font-weight: bold; color: black;">Difficulty Level:</span>
                <p th:text="${route.level}" style="margin-top: 5px; font-size: 18px;"></p>
                <img class="level-img" src="/images/difficulty-level.png" alt="" style="margin-top: 10px;">
            </div>

            <div style="margin-top: 20px;">
                <span style="color: black; font-weight: bold;">GPX Download:</span>
                <a id="showGPX" href="#" style="color: white; margin-left: 10px;">Show GPX</a>
            </div>

            <div id="gpxContent" style="display: none; margin-top: 10px;">
                <label for="gpxCoordinates">GPX Coordinates:</label>
                <textarea id="gpxCoordinates" name="gpxCoordinates" style="width: 100%; height: 100px;"
                          th:text="${route.gpxCoordinates}" readonly></textarea>
            </div>
        </section>


        <section id="map">

        </section>

        <section id="video">
            <iframe width="560" height="315" th:src="@{'https://www.youtube.com/embed/' + ${route.videoUrl}}"
                    frameborder="1" alt="no video attached" allowfullscreen="0"></iframe>
        </section>

        <section class="route-description text-center">
            <h4>Description:</h4>
            <p th:text="${route.description}" id="route-description"></p>
        </section>

        <section class="gallery">
            <div class="row">
                <div th:each="picture : ${route.pictures}" class="col-md-4 mb-3">
                    <img class="rounded img-fluid"
                         th:src="@{${picture.url}}"
                         th:alt="${picture.title}"
                         style="max-height: 200px;">
                </div>
            </div>
        </section>

        <section class="write-comment">
            <h2>Write a Comment</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-light">
                        <div class="card-body">
                            <form id="commentForm" th:action="@{'/routes/details/' + ${route.id}}" method="post"
                                  th:object="${commentDto}">
                                <div class="form-group">
                                    <label for="textContent">Message</label>
                                    <textarea form="commentForm" name="textContent" id="textContent"
                                              class="form-control" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Post Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="my-5"></div>

        <section>
            <div class="container my-1 py-1"> <!-- Adjusted margin and padding here -->
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="card text-body">
                            <h2 class="mt-auto">Recent comments</h2>
                            <div class="card-body p-4" style="background-color: lightskyblue; margin-top: auto;  margin-right: 2rem;;"> <!-- Adjusted margin-left -->
                                <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

                                <div class="d-flex flex-start" th:each="comment : ${comments}">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                         src="/images/profile.jpg" alt="avatar" width="60"
                                         height="60"/>
                                    <div>
                                        <h6 class="fw-bold mb-1" th:text="${comment.author.fullName}">Maggie Marsh</h6>
                                        <p class="mb-1" th:text="${comment.textContent}" style="color: white">
                                        </p>
                                        <div class="d-flex align-items-center mb-3">
                                            <p class="mb-0" th:text="${comment.created}">
                                                March 07, 2021
                                            </p>
                                        </div>
                                        <hr class="my-0" style="margin-top: 10px"/>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<div th:replace="~{fragments/footer}"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("showGPX").addEventListener("click", function (e) {
            e.preventDefault();
            var gpxCoordinates = document.getElementById("gpxCoordinates").value;
            var filename = "route.gpx";
            var blob = new Blob([gpxCoordinates], {type: "text/plain;charset=utf-8"});
            var link = document.createElement("a");
            link.href = window.URL.createObjectURL(blob);
            link.download = filename;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    });
</script>
</body>

</html>
