<!DOCTYPE html>
<html lang="en">

<body>
<nav class="main-nav" th:fragment="navbar">
    <ul>
        <li>
            <a href="/home">Home</a>
        </li>
        <li th:unless="${loggedIn}">
            <a href="/users/login">Login</a>
        </li>
        <li th:unless="${loggedIn}">
            <a href="/users/register">Register</a>
        </li>
        <li th:unless = "${isInThePage}">
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/">Add new route</a>
        </li>
        <li th:if="${loggedIn}">
            <a href="/users/profile">Profile</a>
        </li>
        <li th:if="${isAdmin}">
            <a href="/admin/page">Admin</a>
        </li>
        <li th:if="${loggedIn}" class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
</body>