<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<nav class="main-nav" th:fragment="navbar">
    <ul>
        <li>
            <a href="/home">Home</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a href="/users/login">Login</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a href="/users/register">Register</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a href="/about">About</a>
        </li>
        <li sec:authorize="isAuthenticated()" th:unless="${isAtPage}">
            <a href="/routes/add">Add new route</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="/users/profile">Profile</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')">
            <a href="/admin/page">Admin</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="POST">
                <input class="mybtn" type="submit" value="LOGOUT" style="cursor: pointer; background-color: ghostwhite; padding: 15px 25px; font-size: 18px; border: 2px solid #ccc; border-radius: 5px; width: 200px;" onmouseover="this.style.backgroundColor='black'; this.style.color='white';" onmouseout="this.style.backgroundColor='ghostwhite'; this.style.color='black';"/>
            </form>
        </li>
    </ul>
</nav>
</body>