<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
    <title>Login</title>
</head>
<body>
<div>
    <nav th:replace="~{fragments/navbar::navbar(activeLink=${'login'})}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Login</h2>
    <form th:action="@{/users/login}" th:method="POST"
          enctype="multipart/form-data"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <!-- Display success message -->
        <div th:if="${badRequest}" class="alert alert-danger" role="alert">
            <p th:text="${badRequest}"></p>
        </div>

        <div class="form-group">
            <label for="username" class="text-white font-weight-bold">Username</label>
            <input th:value="${username}" id="username" name="username" type="text" min="2" max="50"
                   class="form-control"
                   placeholder="Enter your username here"/>
        </div>
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input  id="password" name="password" type="password" min="2"
                   max="20" class="form-control"
                   placeholder="Enter your password here"/>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Login"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="rememberme" class="text-white font-weight-bold">Remember me</label>
            <input  id="rememberme"
                    name="rememberme"
                    type="checkbox"
                    class="form-control"/>

        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>
