<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
    <title>Login</title>
</head>
<body>
<div>
    <nav th:replace="~{fragments/navbar::navbar(activeLink=${'login'})}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white">Login</h2>
    <form th:action="@{/users/login}" method="POST"
          th:object="${logInDto}"
          enctype="multipart/form-data"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="form-group">
            <label for="username" class="text-white font-weight-bold">Username</label>
            <input th:field="*{username}" id="username" name="username" type="text" min="2" max="50"
                   class="form-control"
                   placeholder="Enter your username here"/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errors alert alert-danger"></p>
        </div>
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input th:field="*{password}" id="password" name="password" type="password" min="2"
                   max="20" class="form-control"
                   placeholder="Enter your password here"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errors alert alert-danger"></p>

        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Login"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>
