<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}">

    </nav>
</div>


<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form method="POST" th:action="@{/offers/add}" th:object="${offerRegisterDto}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="brand">Brand</label>
                <select id="brand" name="brand" class="form-control" th:field="*{brand}">
                    <option value="">- Select a brand -</option>
                    <option value="Toyota">Toyota</option>
                    <option value="BMW">BMW</option>
                    <option value="Volkswagen">Volkswagen</option>
                    <option value="Hyundai">Hyundai</option>
                    <option value="Audi">Audi</option>
                    <option value="Mercedes">Mercedes</option>
                    <option value="Honda">Honda</option>
                    <option value="Kia">Kia</option>
                </select>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('brand')}"
                   th:errors="*{brand}">Vehicle brand is required.</p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <select id="model" name="model" class="form-control" th:field="*{model}">
                    <option value="">- Select a category -</option>
                    <option value="CAR">CAR</option>
                    <option value="BUS">BUS</option>
                    <option value="TRUCK">TRUCK</option>
                    <option value="MOTORCYCLE">MOTORCYCLE</option>
                </select>
                <input id="name" type="text" name="name" class="form-control"
                       placeholder="Name of car" th:field="*{name}"/>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('model')}"
                   th:errors="*{model}">Vehicle model is required.</p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price" type="number" name="price" min="0" step="100" class="form-control"
                       placeholder="Suggested price" th:field="*{price}"/>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('price')}"
                   th:errors="*{price}">Suggested price is required.</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select id="engine" name="engine" class="form-control" th:field="*{engine}">
                    <option value="">- Select engine type -</option>
                    <option value="GASOLINE">GASOLINE</option>
                    <option value="HYBRID">HYBRID</option>
                    <option value="DIESEL">DIESEL</option>
                    <option value="ELECTRIC">ELECTRIC</option>
                </select>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('engine')}"
                   th:errors="*{engine}">Engine type is required.</p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select id="transmission" name="transmission" class="form-control" th:field="*{transmission}">
                    <option value="">- Select transmission type -</option>
                    <option value="MANUAL">MANUAL</option>
                    <option value="AUTOMATIC">AUTOMATIC</option>
                </select>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('transmission')}"
                   th:errors="*{transmission}">Transmission type is required.</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input id="year" type="number" name="year" min="1900" max="2099" step="1" class="form-control"
                       placeholder="Manufacturing year" th:field="*{year}"/>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('year')}"
                   th:errors="*{year}">Manufacturing year is required.</p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input id="mileage" type="number" name="mileage" min="0" max="900000" step="1000"
                       class="form-control"
                       placeholder="Mileage in kilometers" th:field="*{mileage}"/>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('mileage')}"
                   th:errors="*{mileage}">Mileage is required.</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-3">
                <label class="text-center text-white font-weight-bold" for="description">Description</label>
                <textarea id="description" name="description" class="form-control"
                          placeholder="Enter description" rows="5" th:field="*{description}"></textarea>
                <p class="errors alert alert-danger" th:if="${#fields.hasErrors('description')}"
                   th:errors="*{description}">Description is required.</p>
            </div>
        </div>

        <div class="form-group col-md-6 mb-3">
            <label for="photo" class="text-white font-weight-bold">Photo</label>
            <input id="photo" type="file" name="photo" accept="image/*" class="form-control-file">
            <p class="errors alert alert-danger" th:if="${#fields.hasErrors('photo')}"
               th:errors="*{photo}">Please select a photo.</p>
        </div>

        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>

    </form>
</div>


<div>
    <footer> </footer>
</div>

</body>

</html>
