<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buttons</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container my-3"> <!-- Added margin to the container -->
    <button class="btn btn-primary m-1">Click me</button> <!-- Added margin to the button -->
    <button type="button" class="btn btn-secondary btn-lg m-1">Secondary</button> <!-- Added margin to the button -->
    <button type="button" class="btn btn-success m-1">Success</button> <!-- Added margin to the button -->
    <button type="button" class="btn btn-danger m-1">Danger</button> <!-- Added margin to the button -->
    <button type="button" class="btn btn-warning m-1">Warning</button> <!-- Added margin to the button -->
    <button type="button" class="btn btn-info m-1">Info</button> <!-- Added margin to the button -->
    <button type="button" class="btn btn-light m-1">Light</button> <!-- Added margin to the button -->
    <button type="button" class="btn btn-dark m-1">Dark</button> <!-- Added margin to the button -->
</div>
<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>