<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typography</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container m-auto">
    <div class="row">
        <div class="col md-6"><h1>h1.Bootstrap heading</h1>
            <h2>h2.Bootstrap heading</h2>
            <h3>h3.Bootstrap heading</h3>
            <h4>h4.Bootstrap heading</h4>
            <h5>h5.Bootstrap heading</h5>
        </div>
        <div class="col md-6">
            <p class="blockquote">h1.Bootstrap heading</p>
            <p class="h2">h2.Bootstrap heading</p>
        </div>
    </div>
</div>
<div class="row text-md-center">
    <ul class="list-group">
        <li>Line number 1</li>
        <li>Line number 2</li>
        <li>Line number 3</li>
        <li>Line number 4</li>
    </ul>
</div>
<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>